body {
	font-family: 'Open Sans', sans-serif;
	/* background-image: linear-gradient(to right, #DECBA4, #3E5151); */
    background-image: linear-gradient(to right, #7d8589, #458581);
  }
  
h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	margin: 2px auto 2px auto;
	text-align: center;
	color:#000000;
}

.submit-button {
	margin:8px;
	text-align: center;	
	background-color: transparent; 
	box-shadow: 0 0 30px #000000;
	border: 20px;
	color:#000000;
	border-radius: 50px;
	padding: 10px 60px;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
.submit-button:hover {
	transform: scale(1.1);
	box-shadow: inset 0px 10px 20px 2px #000000;
}

.game-options select, .game-options input  {
	border: 1px solid #000000;
	padding: 6px 50px;
	border-radius: 20px;
	outline: none;
	background-color: transparent;
	box-shadow: 0 0 10px #000000;
}

.grid-box, .player1, .player2 {
	font-size: 35px;
	padding: 15px 25px;
	width: 80px;
	height: 80px;
	background-color: transparent;
    font-family: 'Open Sans', sans-serif;
	transition: 0.3s ease;
	outline: none;
	border-radius: 30px;
	box-shadow: 0 0 20px #000000;
}

.player1,.player2 {
	color: #000000;
}

.score-card {
    padding-top: 5%;
    padding-bottom: 5%;
	font-weight: bold;
}
.score-card span {
	font-weight: normal;
}

.form-check{
	padding: 10px 10px 5px;
}

.game-area{
    position: relative;
    height:80vh; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* Shapes & Animation */
.backwrap {
    width: 100%;
    height: 100%;
    position: fixed;
}

.back-shapes {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.back-shapes img {
    opacity: 0.2;
    position: absolute;
    width: 1.5%;
}

.floating {
    position: absolute;
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.floating.circle {
    display: inline-block;
    width: 39px;
    height: 39px;
    background-image: url('imgs/circle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .5;
}

.floating.square {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url('imgs/square.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .5;
}

.floating.triangle {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url('imgs/triangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .5;
}

.floating.cross {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url('imgs/cross.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .5;
}

@keyframes floating {
    0% {
        transform: translateY(0%) rotate(-55deg);
    }
    50% {
        transform: translateY(300%) rotate(55deg);
    }
    100% {
        transform: translateY(0%) rotate(-55deg);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(300%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}